@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source "../../../../vendor/relaticle/flowforge/resources/views/**/*.blade.php";
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
